# Chapter 1 - Data Munging Basics
## Segment 1 - Filtering and selecting data

In [8]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [36]:
series_obj = Series(np.arange(8), index=['row 1', 'row 2','row 3','row 4','row 5', 'row 6', 'row 7', 'row 8'])
print(series_obj,"\n")
print("row7 => ",series_obj['row 7'],"\n")
print("6,7 => ",series_obj[[6,7]])

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32

row7 =>  6

6,7 =>  row 7    6
row 8    7
dtype: int32

In [57]:
dfObject=DataFrame(np.random.rand(20).reshape(4,5),
                   index=['row_1','row_2','row_3','row_4'],
                   columns=['column_1', 'column_2', 'column_3', 'column_4', 'column_5'])
print(dfObject,"\n")
print(dfObject.loc[['row_2'],['column_1']],"\n")
print(dfObject.iloc[[2,3],[1,2]])

       column_1  column_2  column_3  column_4  column_5
row_1  0.369270  0.680735  0.982592  0.558586  0.288835
row_2  0.571616  0.566247  0.788920  0.918660  0.338326
row_3  0.368271  0.447809  0.040961  0.755635  0.274323
row_4  0.634032  0.905470  0.058023  0.102151  0.328519

       column_1
row_2  0.571616

       column_2  column_3
row_3  0.447809  0.040961
row_4  0.905470  0.058023

In [62]:
### Data Slice
series_obj[2:4]

row 3    2
row 4    3
dtype: int32

In [64]:
### Comparing with scalars
dfObject< .2

       column_1  column_2  column_3  column_4  column_5
row_1     False     False     False     False     False
row_2     False     False     False     False     False
row_3     False     False      True     False     False
row_4     False     False      True      True     False

In [71]:
### Filtering with scalars
print(series_obj[series_obj>4],"\n")
print(dfObject[dfObject > .8])

row 6    5
row 7    6
row 8    7
dtype: int32

       column_1  column_2  column_3  column_4  column_5
row_1       NaN       NaN  0.982592       NaN       NaN
row_2       NaN       NaN       NaN   0.91866       NaN
row_3       NaN       NaN       NaN       NaN       NaN
row_4       NaN   0.90547       NaN       NaN       NaN

In [82]:
### Setting values with scalars
print(series_obj)
series_obj['row 1','row 2']=8
print("after setting scaler value")
print(series_obj)

print(dfObject)
dfObject.loc[['row_1','row_2'],['column_2','column_3']]=8
print("after setting scaler value")
print(dfObject)

row 1    8
row 2    8
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32
after setting scaler value
row 1    8
row 2    8
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int32
       column_1    column_2    column_3  column_4  column_5
row_1  0.369270  200.000000  200.000000  0.558586  0.288835
row_2  0.571616  200.000000  200.000000  0.918660  0.338326
row_3  0.368271    0.447809    0.040961  0.755635  0.274323
row_4  0.634032    0.905470    0.058023  0.102151  0.328519
after setting scaler value
       column_1  column_2  column_3  column_4  column_5
row_1  0.369270  8.000000  8.000000  0.558586  0.288835
row_2  0.571616  8.000000  8.000000  0.918660  0.338326
row_3  0.368271  0.447809  0.040961  0.755635  0.274323
row_4  0.634032  0.905470  0.058023  0.102151  0.328519