# Chapter 1 - Data Munging Basics
## Segment 1 - Handling Missing Value

In [41]:
import numpy as np
import pandas as pd 

from pandas import Series, DataFrame

In [42]:
na=np.nan
series_obj=Series(['row_1','row_2',na,'row_3',na,'row_5'])
print(series_obj,"\n")
print(series_obj.isnull())

0    row_1
1    row_2
2      NaN
3    row_3
4      NaN
5    row_5
dtype: object

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [43]:
np.random.seed(20)
df_obj=DataFrame(np.random.rand(20).reshape(4,5))
df_obj

          0         1         2         3         4
0  0.588131  0.897714  0.891531  0.815837  0.035890
1  0.691758  0.378681  0.518511  0.657951  0.193850
2  0.272316  0.718606  0.783004  0.850328  0.775245
3  0.036664  0.116694  0.751281  0.239218  0.254806

In [18]:
df_obj.iloc[[2,3],[1,2]]=na
print(df_obj)

          0         1         2         3         4
0  0.588131  0.897714  0.891531  0.815837  0.035890
1  0.691758  0.378681  0.518511  0.657951  0.193850
2  0.272316       NaN       NaN  0.850328  0.775245
3  0.036664       NaN       NaN  0.239218  0.254806

In [44]:
fill_df=df_obj.fillna(0)
print(fill_df)

# missing values with values from the last non-null element in the column Series.
fill_df = df_obj.fillna(method='ffill')
print(fill_df)

          0         1         2         3         4
0  0.588131  0.897714  0.891531  0.815837  0.035890
1  0.691758  0.378681  0.518511  0.657951  0.193850
2  0.272316  0.718606  0.783004  0.850328  0.775245
3  0.036664  0.116694  0.751281  0.239218  0.254806
          0         1         2         3         4
0  0.588131  0.897714  0.891531  0.815837  0.035890
1  0.691758  0.378681  0.518511  0.657951  0.193850
2  0.272316  0.718606  0.783004  0.850328  0.775245
3  0.036664  0.116694  0.751281  0.239218  0.254806

### Counting missing values

In [47]:
print(df_obj)
df_obj.iloc[0:4,2:3]=na
print(df_obj)
print("sum of NaN",df_obj.isnull().sum())

          0         1   2         3         4
0  0.588131  0.897714 NaN  0.815837  0.035890
1  0.691758  0.378681 NaN  0.657951  0.193850
2  0.272316  0.718606 NaN  0.850328  0.775245
3  0.036664  0.116694 NaN  0.239218  0.254806
          0         1   2         3         4
0  0.588131  0.897714 NaN  0.815837  0.035890
1  0.691758  0.378681 NaN  0.657951  0.193850
2  0.272316  0.718606 NaN  0.850328  0.775245
3  0.036664  0.116694 NaN  0.239218  0.254806
sum of NaN 0    0
1    0
2    4
3    0
4    0
dtype: int64

In [50]:
df_no_NaN = df_obj.dropna(axis=1)
print(df_no_NaN,"\n")
print(df_obj.dropna(how='all'))

          0         1         3         4
0  0.588131  0.897714  0.815837  0.035890
1  0.691758  0.378681  0.657951  0.193850
2  0.272316  0.718606  0.850328  0.775245
3  0.036664  0.116694  0.239218  0.254806

          0         1   2         3         4
0  0.588131  0.897714 NaN  0.815837  0.035890
1  0.691758  0.378681 NaN  0.657951  0.193850
2  0.272316  0.718606 NaN  0.850328  0.775245
3  0.036664  0.116694 NaN  0.239218  0.254806