# numpy  and Pandas

In [1]:
import numpy as np
a1=np.array([1,2,3,4,5])
print(a1);
print(type(a1));

a2=np.array([[1,2,3,56,8],[1,8,65,4,3]])
print(a2)
print(a2.shape)
## reshaping of an array
a3=a2.reshape(5,2)
print(a3)
print(a3.transpose())

[1 2 3 4 5]
<class 'numpy.ndarray'>
[[ 1  2  3 56  8]
 [ 1  8 65  4  3]]
(2, 5)
[[ 1  2]
 [ 3 56]
 [ 8  1]
 [ 8 65]
 [ 4  3]]
[[ 1  3  8  8  4]
 [ 2 56  1 65  3]]

In [2]:
## matrix and array operation
n1=np.array([[1,2,4,3,65,12],[4,3,5,7,93,12]])
n2=np.array([[7,5,87,4,3,2],[56,4,7,9,1,4]])
print(n1+n2)
print(n1*n2)
print(n1.dot(n2.reshape(6,2)))
print(np.zeros(11,dtype = int))
print(np.zeros((2,5),dtype = int))
print(n1.sum())
print(n1.min(),n1.max())

[[ 8  7 91  7 68 14]
 [60  7 12 16 94 16]]
[[  7  10 348  12 195  24]
 [224  12  35  63  93  48]]
[[ 828  666]
 [1359  955]]
[0 0 0 0 0 0 0 0 0 0 0]
[[0 0 0 0 0]
 [0 0 0 0 0]]
211
1 93

## Pandas

##### Series- 1D labelled array can hold any data type (only index)
##### DataFrame- 2D labelled DS . like spredsheet or SQL Table (coloumn and index)

In [3]:
import pandas as pd

df=pd.read_csv("../DS/mtcars.csv")
print("**************************Data Frame***************************\n",df,"\n\n")
print("************************Data Frame shape***********************\n\n",df.shape,"\n\n")
print("************************Data Frame column**********************\n\n",df.columns,"\n\n")
print("************************Data Frame head************************\n\n",df.head(4),"\n\n")
print("************************Data Frame tail************************\n\n",df.tail(4),"\n\n")
print("************************Data Frame info************************\n\n")
print(df.info(),"\n\n")
print("************************Data Frame Describe************************\n\n",df.describe(),"\n\n")

**************************Data Frame***************************
              Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  \
0             Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1
1         Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1
2            Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1
3        Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0
4     Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0
5               Valiant  18.1    6  225.0  105  2.76  3.460  20.22   1   0
6            Duster 360  14.3    8  360.0  245  3.21  3.570  15.84   0   0
7             Merc 240D  24.4    4  146.7   62  3.69  3.190  20.00   1   0
8              Merc 230  22.8    4  140.8   95  3.92  3.150  22.90   1   0
9              Merc 280  19.2    6  167.6  123  3.92  3.440  18.30   1   0
10            Merc 280C  17.8    6  167.6  123  3.92  3.440  18.90   1   0
11           Merc 450SE  16.4    8  275.8  180  3.07  4.070  17.40   0   0
12           Merc 450SL  17.3    8  275.8  180  3.07  3.730  17.60   0   0
13          Merc 450SLC  15.2    8  275.8  180  3.07  3.780  18.00   0   0
14   Cadillac Fleetwood  10.4    8  472.0  205  2.93  5.250  17.98   0   0
15  Lincoln Continental  10.4    8  460.0  215  3.00  5.424  17.82   0   0
16    Chrysler Imperial  14.7    8  440.0  230  3.23  5.345  17.42   0   0
17             Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1
18          Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1
19       Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1
20        Toyota Corona  21.5    4  120.1   97  3.70  2.465  20.01   1   0
21     Dodge Challenger  15.5    8  318.0  150  2.76  3.520  16.87   0   0
22          AMC Javelin  15.2    8  304.0  150  3.15  3.435  17.30   0   0
23           Camaro Z28  13.3    8  350.0  245  3.73  3.840  15.41   0   0
24     Pontiac Firebird  19.2    8  400.0  175  3.08  3.845  17.05   0   0
25            Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1
26        Porsche 914-2  26.0    4  120.3   91  4.43  2.140  16.70   0   1
27         Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1
28       Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.50   0   1
29         Ferrari Dino  19.7    6  145.0  175  3.62  2.770  15.50   0   1
30        Maserati Bora  15.0    8  301.0  335  3.54  3.570  14.60   0   1
31           Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1

    gear  carb
0      4     4
1      4     4
2      4     1
3      3     1
4      3     2
5      3     1
6      3     4
7      4     2
8      4     2
9      4     4
10     4     4
11     3     3
12     3     3
13     3     3
14     3     4
15     3     4
16     3     4
17     4     1
18     4     2
19     4     1
20     3     1
21     3     2
22     3     2
23     3     4
24     3     2
25     4     1
26     5     2
27     5     2
28     5     4
29     5     6
30     5     8
31     4     2


************************Data Frame shape***********************

 (32, 12)


************************Data Frame column**********************

 Index(['Unnamed: 0', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs',
       'am', 'gear', 'carb'],
      dtype='object')


************************Data Frame head************************

        Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
0       Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
1   Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
2      Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
3  Hornet 4 Drive  21.4    6  258.0  110  3.08  3.215  19.44   1   0     3

   carb
0     4
1     4
2     1
3     1


************************Data Frame tail************************

         Unnamed: 0   mpg  cyl   disp   hp  drat    wt  qsec  vs  am  gear  \
28  Ford Pantera L  15.8    8  351.0  264  4.22  3.17  14.5   0   1     5
29    Ferrari Dino  19.7    6  145.0  175  3.62  2.77  15.5   0   1     5
30   Maserati Bora  15.0    8  301.0  335  3.54  3.57  14.6   0   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.78  18.6   1   1     4

    carb
28     4
29     6
30     8
31     2


************************Data Frame info************************


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
Unnamed: 0    32 non-null object
mpg           32 non-null float64
cyl           32 non-null int64
disp          32 non-null float64
hp            32 non-null int64
drat          32 non-null float64
wt            32 non-null float64
qsec          32 non-null float64
vs            32 non-null int64
am            32 non-null int64
gear          32 non-null int64
carb          32 non-null int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB
None


************************Data Frame Describe************************

              mpg        cyl        disp          hp       drat         wt  \
count  32.000000  32.000000   32.000000   32.000000  32.000000  32.000000
mean   20.090625   6.187500  230.721875  146.687500   3.596563   3.217250
std     6.026948   1.785922  123.938694   68.562868   0.534679   0.978457
min    10.400000   4.000000   71.100000   52.000000   2.760000   1.513000
25%    15.425000   4.000000  120.825000   96.500000   3.080000   2.581250
50%    19.200000   6.000000  196.300000  123.000000   3.695000   3.325000
75%    22.800000   8.000000  326.000000  180.000000   3.920000   3.610000
max    33.900000   8.000000  472.000000  335.000000   4.930000   5.424000

            qsec         vs         am       gear     carb
count  32.000000  32.000000  32.000000  32.000000  32.0000
mean   17.848750   0.437500   0.406250   3.687500   2.8125
std     1.786943   0.504016   0.498991   0.737804   1.6152
min    14.500000   0.000000   0.000000   3.000000   1.0000
25%    16.892500   0.000000   0.000000   3.000000   2.0000
50%    17.710000   0.000000   0.000000   4.000000   2.0000
75%    18.900000   1.000000   1.000000   4.000000   4.0000
max    22.900000   1.000000   1.000000   5.000000   8.0000

In [4]:
### Accessing Coloumn

#####Accessing by name
print(df[["gear","qsec"]].head(2),"\n\n")


#####Accessing by index
print(df.iloc[1:2],"\n\n")
print(df.iloc[1:3,0:4],"\n\n")
print(df.iloc[:3,[0,2,4]],"\n\n")

   gear   qsec
0     4  16.46
1     4  17.02


      Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
1  Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4

   carb
1     4


      Unnamed: 0   mpg  cyl   disp
1  Mazda RX4 Wag  21.0    6  160.0
2     Datsun 710  22.8    4  108.0


      Unnamed: 0  cyl   hp
0      Mazda RX4    6  110
1  Mazda RX4 Wag    6  110
2     Datsun 710    4   93

In [5]:
### creating and updating column
df['col12']=1 # creating coloumn as col12 doesnt exist else update
print(df.iloc[:2,12:])

df['new cell']=df['wt']*df['cyl']
print(df.iloc[:2,12:])

### deleting column 
del df['col12']
print(df.iloc[:2,12:])

   col12
0      1
1      1
   col12  new cell
0      1     15.72
1      1     17.25
   new cell
0     15.72
1     17.25

In [6]:

def lower_p(val):
    return str(val).lower();

In [7]:
### type cast
df.columns.values[0] = "Car_Name"
print(df.iloc[:2]['Car_Name'].str.upper()+" -NEW")
### custom operation on each entry
print(df.iloc[:2]['Car_Name'].apply(lower_p))

0        MAZDA RX4 -NEW
1    MAZDA RX4 WAG -NEW
Name: Car_Name, dtype: object
0        mazda rx4
1    mazda rx4 wag
Name: Car_Name, dtype: object

In [8]:
### Filtering 
df_new= df[(df['gear'] >= 4) & (df['am']>=1) & (df['vs']>=1)]
print(df_new)
#### Ascending column wise
print(df_new.sort_values(["gear","hp"],ascending=[0,1]))
#### unique value in the column
print(df_new[0:]["gear"].unique())

          Car_Name   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
2       Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
17        Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
18     Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
19  Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
25       Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4

    carb  new cell
2      1     9.280
17     1     8.800
18     2     6.460
19     1     7.340
25     1     7.740
27     2     6.052
31     2    11.120
          Car_Name   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
27    Lotus Europa  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5
18     Honda Civic  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4
19  Toyota Corolla  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4
17        Fiat 128  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4
25       Fiat X1-9  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4
2       Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
31      Volvo 142E  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4

    carb  new cell
27     2     6.052
18     2     6.460
19     1     7.340
17     1     8.800
25     1     7.740
2      1     9.280
31     2    11.120
[4 5]

In [9]:
#### group by
df_g=df.groupby(['gear','hp'],as_index =False)["mpg"].mean()
print(df_g[:8])

   gear   hp    mpg
0     3   97  21.50
1     3  105  18.10
2     3  110  21.40
3     3  150  15.35
4     3  175  18.95
5     3  180  16.30
6     3  205  10.40
7     3  215  10.40